body {
    background-image: url("./img/fondocastillo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
}

.checkbox{
    margin: 20px;
    padding: 10px;
}

.navbar {
    background-color: rgb(255, 255, 255, 0.5); /*50% de transparencia */
    border-radius: 15px; /* Bordes redondeados radio 15px */
}

.button.is-primary { /*comprar y vender*/
    background-color: #d3c0f9 !important; /* Nuevo color de fondo */
    border-color: #d3c0f9 !important;    /* Nuevo color de borde */
    color: #000000 !important;              /* Color del texto */
}

.button.is-skeleton { /*modificar usuario */
    background-color: #6db9da !important; /* Nuevo color de fondo */
    border-color: #6db9da !important;    /* Nuevo color de borde */
    color: #000000 !important;     
}

#nombre-usuario {
    font-weight: bold;/*negrita*/
}

.navbar-item {
    font-weight: bold;
}

.button:hover {
    filter: brightness(1.1); /* Aumenta el brillo en hover */
}

.button.is-primary:hover {
    background-color: #d3c0f9 !important; /* Color más claro en hover */
}