body {
    background-image: url("../assets/img/fondocastillo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
}

.checkbox {
    margin: 20px;
    padding: 10px;
}

.navbar {
    background-color: rgb(255, 255, 255, 0.5);
    /*50% de transparencia */
    border-radius: 15px;
    /* Bordes redondeados radio 15px */
}

.button.is-primary {
    /*comprar y vender*/
    background-color: #d3c0f9 !important;
    /* Nuevo color de fondo */
    border-color: #d3c0f9 !important;
    /* Nuevo color de borde */
    color: #000000 !important;
    /* Color del texto */
}

.navbar-dropdown {
    background-color: rgb(255, 255, 255, 0.5);
    /*50% de transparencia */
    border-radius: 15px;
    /* Bordes redondeados radio 15px */
}

.button.is-link {
    /*modificar usuario */
    background-color: #6db9da !important;
    /* Nuevo color de fondo */
    border-color: #6db9da !important;
    /* Nuevo color de borde */
    color: #000000 !important;
}

#nombre-usuario {
    font-weight: bold;
    /*negrita*/
    color: #000000 !important;
}

.navbar-item,
.navbar-link {
    font-weight: bold;
    color: #000000;
    /* Color de texto */
    background-color: transparent !important;
    /* Elimina cualquier fondo sólido */
    transition: color 0.3s ease;
    /* Transición suave en hover */
}

.navbar-item:hover,
.navbar-link:hover {
    background-color: rgba(255, 255, 255, 0.747) !important;
    /* Cambia el color del texto al pasar el mouse */
}

.button:hover {
    filter: brightness(1.1);
    /* Aumenta el brillo en hover */
}

.button.is-primary:hover {
    background-color: #d3c0f9 !important;
    /* Color más claro en hover */
}

#Juego {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 47%;
    left: 44%;
}

.comic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    /* Texto blanco */
    background-color: #007BFF;
    /* Fondo azul */
    border: 2px solid #0056b3;
    /* Borde azul oscuro */
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

.comic-button:hover {
    background-color: #0056b3;
    /* Fondo azul oscuro en hover */
    color: #FFFFFF;
    /* Texto blanco */
    border: 2px solid #003f7f;
    /* Borde azul más oscuro en hover */
    box-shadow: 5px 5px 0px #003f7f;
}

.comic-button:active {
    background-color: #003f7f;
    box-shadow: none;
    transform: translateY(4px);
}