body {
    background-image: url("../assets/img/fondocastillo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
}

.checkbox {
    margin: 20px;
    padding: 10px;
}

.table.is-fullwidth.is-bordered.is-hoverable {
    background-color: rgb(255, 255, 255, 0.5) !important; /*50% de transparencia */
    border-radius: 15px !important; /* Bordes redondeados radio 15px */
}

.table-container.mt-5 {
    background-color: rgb(255, 255, 255, 0.5) !important;
    border-radius: 15px !important; 
}



.navbar {
    background-color: rgb(255, 255, 255, 0.5); 
    border-radius: 15px;
}

.button.is-primary {
    /*comprar y vender*/
    background-color: #d3c0f9 !important;
    border-color: #d3c0f9 !important;
    color: #000000 !important;
}

.navbar-dropdown {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    
}

.button.is-link {
    /*modificar usuario */
    background-color: #6db9da !important;
    border-color: #6db9da !important;
    color: #000000 !important;
}

#nombre-usuario {
    font-weight: bold;
    /*negrita*/
    color: #000000 !important;
}

.navbar-item,
.navbar-link {
    font-weight: bold;
    color: #000000;
    background-color: transparent !important;
    /* Elimina cualquier fondo sólido */
    transition: color 0.3s ease;
    /* Transición suave en hover */
}

.navbar-item:hover,
.navbar-link:hover {
    background-color: rgba(255, 255, 255, 0.747) !important;
    /* Cambia el color del texto al pasar el mouse */
    border-radius: 15px !important;
    
}

.button:hover {
    filter: brightness(1.1);
    /* Aumenta el brillo en hover */
}

.button.is-primary:hover {
    background-color: #d3c0f9 !important;
    /* Color más claro en hover */
}