body {
    background-image: url("../assets/img/fondocastillo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
}

.checkbox {
    margin: 20px;
    padding: 10px;
}

.navbar {
    background-color: rgb(255, 255, 255, 0.5);
    /*50% de transparencia */
    border-radius: 15px;
    /* Bordes redondeados radio 15px */
}